@model MyBlog.Models.Post

<section class="mt-5">
    <div class="row post-item shadow-sm">
        <div class=" col-12 col-sm-6 col-md-5 p-0">
            <img class="cover-image"
                 src="@Model.Image" alt="Post cover image">
        </div>
        <div class="col-12 col-sm-6 col-md-7 post-item__details overflow-hidden pl-4 d-flex flex-column justify-content-between">
            <div >
                @Html.Partial("_TagsDisplay", @Model.Tags)
                <h2 class="post-item__title text-dark mt-3 mb-2">@Model.Title</h2>
                <p class="post-item__date text-muted mt-1 ">@Model.PublishDate</p>
            </div>
            <div>
                <p class="post-item__excerpt text-dark">@Model.Excerpt</p>
                <div class="d-flex flex-wrap justify-content-between mb-3 mr-2 mt-2">
                    <a asp-page="Details"
                       asp-route-slug="@Model.Slug"
                       class="btn btn-light btn-gray-light text-uppercase my-3 ">
                        read more <span class="btn__arrow mx-3"></span>
                    </a>

                    @Html.Partial("SocialButtons/_ShareButtons", Url.PageLink("Details", null, new {slug = Model.Slug}))
                </div>
            </div>
        </div >
    </div>
</section>
